
input[type="checkbox"]:checked + label span {
  transform: translateX(100%);
  border-color: #29292b; /* Or your theme's primary color */
}

input[type="checkbox"]:checked + label {
  background-color: #29292b; /* Or your theme's primary color */
}